.nav{
    width: auto;
    height: auto;
    position: absolute;
}
.bel{
    margin-right: 5px;
}
.log{
    margin-left: 0px;
}
.help{
    margin-left: 0px;
    margin-right: 0px;
}
.side{
    align-content: left;
}